* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 800px;
    padding: 0px 20px;
    margin: 0 auto;
}

.table_theme {
    border-collapse: collapse;
    position: fixed;
    top: 0%;
    left: 100%;
}

td {
    border: 1px solid black;
    padding: 5px;
}

.form-section {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
}

button {
    padding: 10px;
    background-color: rgb(0, 180, 0);
    border: 0;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    transition: .1s all;
}

button:hover {
    background-color: rgb(0, 201, 0);
}

label {
    margin-bottom: 3px;
}

input {
    padding: 7px;
}

textarea {
    padding: 7px;
}

fieldset {
    padding: 5px;
    margin: 0;
}

.form__nameInput, .form__langInput {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.firstName, .lastName, .form__dateOfBirthInput, .form__addressInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}