body {
    font-family: cursive;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#main {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

img {
    width: 600px;
    height: 300px;
    object-fit: contain;
    align-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 600px;
    background-color: #F9F8F8;
    border-radius: 30px;
    row-gap: 10px;
}

.product-details-list__item {
    border-bottom: 1px #D4D4D4 solid;
    padding: 5px 0px 5px;
}

.product-title {
    margin-bottom: 5px;
}

.card__purchase-button {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    border: 0;
    margin: 5px 0;
    border-radius: 10px;
    width: 300px;
    padding: 7px 100px;
}

.purchase-btn {
    padding: 7px 100px;
    background-color: rgb(1, 160, 1);
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.purchase-btn:hover {
    background-color: rgb(2, 136, 2);
}

.active {
    background-color: green;
    color: white;
}